html,body{
    margin: 0;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.background-images{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image: url('/private/navigation/images/3.jpg');
    background-position: center 0;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */
    -o-background-size: cover;/* 兼容Opera */
    z-index: -9999;
    zoom: 1;
}


ul {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
}

.head_navigation {
    width: 100%;
    height: 47px;
    display: flex;
}

.navigation {
    width: 1247px;
    height: 37px;
    margin: auto;
}

.main_navigation {
    width: 1247px;
    height: 100%;
    line-height: 37px;

}

.li_navigation {
    float: left;
    width: 67px;
}

/*鼠标移入向两边延伸下划线*/
.li_navigation a {
    position: relative;
}

.li_navigation a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #ffb2b5;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .8s;
}

.li_navigation a:hover:after {
    left: 0%;
    width: 100%;
}

.user_li{
    float: right;
    width: 47px;
    padding-right: 20px;

}
.user_li a{
    display: inline-block;
    width: 47px;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(250, 137, 131, 0.3);
    text-align: center;
}

.center-code{
    font-size: 47px;
    text-align: center;
    letter-spacing:17px;
    color: #ffbabf;
    display: none;
}




/*搜索框5*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #929292; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #929292;opacity:1;
}

.search>form>input:-ms-input-placeholder{
    color: #929292;opacity:1;
}

.search>form>input::-webkit-input-placeholder{
    color: #6d6d6d;opacity:1;
}
.search{
    text-align: center;
}
.search>form>input{
    width: 558px;
    height: 36px;
    background-color: rgba(0,0,0,.1);
    /*border: 1px solid #ffbabf;*/
    border: none;
    outline: none;
    padding: 0 0 0 10px;
}

